//
//-- Config 
//

// colors
$background-color: #fff;
$background-day: #FEA07F;
$background-night: #6060B6;

$color-info: #fff;
$color-base: #000;
$color-days: #ccc;
$color-days-active: #333;

// fonts
$font-base: 'Open Sans', sans-serif;

// Width
$width-design: 400px;

