{
  "extends": "airbnb",
  "rules": {
    "one-var": 0,
    "arrow-body-style": "off",
    "max-len": [0, 120, 4],
    "indent": [2, 4],
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }]
  }
}