//
//-- Days
//

.weather-days {
    overflow: hidden;

    background-color: #fff;
    border-radius: 0 0 50px 50px;
}

.weather-days:before {
    position: absolute;
    margin-top: -100px;

    height: 100px;
    width: $width-design;

    background: url('../img/clouds.png') transparent;
    background-repeat: no-repeat;
    background-size: cover;

    content: '';
}

.weather-days__names {
    margin: 0 2em 1.9em;

    color: $color-days;

    cursor: pointer;
}

.weather-days__name {
    margin-right: 2em;
    padding-bottom: 0.2em;

    font-size: 0.85rem;
    font-weight: 700;

    border-bottom: 2px solid transparent;

    transition: transform 0.1s;
}

.weather-days__name--active,
.weather-days__name:hover {
    color: $color-days-active;

    border-bottom: 2px solid $color-days-active;

    transform: scale(1.2);
}

.weather-days__wrapper {
    display: inline-flex;
    
    margin: 0;

    transition: margin 0.7s;
}

.weather-days__hours {
    min-width: 390px;

    margin: auto 5px;
    padding-bottom: 1em;

    color: $color-days-active;
}

.weather-days__col {
    text-align: center;

    cursor: pointer;
    transition: transform 0.1s;
}

.weather-days__hour {

    font-size: 12px;
    color: #666;
}

.weather-days__col:hover {

    transform: scale(1.4);
}

.weather-days__icon {
    margin: 0.17em auto;

    font-size: 35px;
    color: $color-days-active;
}

.weather-days__degrees {
    font-size: 12px;
    font-weight: 600;
    color: $color-days-active;
}