//
//-- Info 
//

.weather-info {
    height: 63vh;

    color: $color-info;
    text-align: center;

    border-radius: 50px 50px 0 0;

    transition: background-color 0.7s
}

.weather-info--day {
    background-color: $background-day;
}

.weather-info--night {
    background-color: $background-night;
}

.weather-info__grid {
    padding: 8vh 0;
}

.weather-info__col {
    display: inline-block;
    width: 100%;
}

.weather-info__col--icon {
    padding: 2vh 0;
}

.weather-info__col--icon > i {
    font-size: 80px;
}

.weather-info__temperature > span{
    font-weight: 400;
}